body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px auto;
    max-width: 414px;
    text-align: center;
    padding: 15px;
}

button {
    padding: 15px;
    background-color: aquamarine;
}